<div class="container" ng-controller="UserController">
	<h2>Login</h2>
	<img src="images/loginbanner.jpg" style="height:400px;width:100%"/><br/><br/>
	<form>
		<div class="form-group input-group">	
			 <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      		<input id="loginName" type="text" class="form-control" name="loginName" placeholder="Enter LoginName" ng-model="user.loginName">
		</div>
		<div class="form-group input-group">
      		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> 
      		<input id="password" type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password">
    	</div>
 		<br>
    	<input type="submit" class="btn btn-info" ng-click="login()" value="Login"/>
		
		<br/>
		
	</form>
</div>