<div class="container"  ng-controller="ForumController" class="table-responsive" data-ng-init="fetchAllForumsAgain()">



<br/>

<h1>List of All Forums</h1><br/>



<div class="list-group" >
    <div href="#" class="list-group-item" ng-repeat="forum in allForums">
      <h3 class="list-group-item-heading" style="color:#0000A0" >
     	{{forum.forumName}}
      </h3>
      <p class="list-group-item-text">
      	{{forum.forumContent}}
      	<img src="images/Update.png" style="height:40px;width:40px;padding-right:20px" ng-click="UpdateForum(forum.forumId)"/>
      	<img src="images/Delete.png" style="height:40px;width:40px" ng-click="DeleteForum(forum.forumId)"/> 
      	
      	<br/>
      	<span style="color:#0000FF">Created On : </span>{{forum.createDate}} <br/>
      	
      	
      </p>
      
      
    </div>
  </div>
</div>




